__pycache__/
*.pyc
.env

# Python virtual environments
.venv/
venv/


# LoRA experiment datasets
experiments/**/data/images/

# LoRA training outputs / checkpoints
experiments/**/outputs/
experiments/**/checkpoints/

# Jupyter
.ipynb_checkpoints/