* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Love";
  src: url("./assets/fonts/Love-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-brand: "Tenor Sans", sans-serif;
  --font-curatorial: "Tenor Sans", sans-serif;
  --font-interface: "Tenor Sans", sans-serif;

  font-family: var(--font-interface);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;

  /* font-family: var(--font-interface);
  font-weight: 300; */

  color: #171717;
  background: #fff;
}

button,
input,
select,
textarea {
  font: inherit;
}
h1 {
  font-family: "Love", var(--font-curatorial);
  font-weight: 400;
}